.infoTab{
	position:relative;
	float:left;
	border-top:1px solid black;
	border-right:1px solid black;
	border-left: 1px solid black;

	width: 100px;
	border-bottom:px solid #fff;
	margin-bottom:-3px;

	
	
}
.picTab{
	float:left;
	border:1px solid black;
	width: 100px;


}
.infoBlock{
	clear:left;
	border: 1px solid black;
	display: block;
	margin-bottom:-13px;
}
.picBlock{
	clear: left;
	display: none;
	border: 1px solid black;
}

.picTab:hover{
	cursor:pointer;
}
.infoTab:hover{
	cursor:pointer;
}
.infoTab:hover, .picTab:hover{
	background: #9EA4B2;
}
.activeTab{
	border-top:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
	border-bottom: 1px solid white;
	color: red;
	float:left;
	width:100px;
	z-index: 1;
}
.activeBlock{
	border-top:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
	border-bottom:1px solid black;
	color: red;
	clear:left;
	float:left;

}

span{
	border-top:1px solid black;
	border-right: 1px solid black;
	border-left:1px solid black;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	border-bottom-right-radius:20px; 
}
.afterSpan{
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left:1px solid black;
	border-bottom:1px solid black;
	margin-top:-1px;
}
