<!DOCTYPE html>
<html>
<head>
	<title>Dealing with blocks</title>
	<link rel="stylesheet" type="text/css" href="../css/blockStyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="../js/blockControl.js"></script>
	
</head>
<body>
	<div class="square">Some text
		<div class="innerSquare">Inner Square</div>
	</div>

 <div class="upContent">
	<div class="content">
		<div class="firstTab">First Tab</div>
		<div class="secondTab">SecondTab</div>

		<div class="firstBlock">FirstBlock</div>
		<div class="secondBlock">Second Block</div>
	</div>
</div>
<!-- INLINE CONTENT -->
<div class="inlineContent">
	<div class="innerInlineBlock innActiveTab">Inner Inline Block</div>
	<div class="secondInnerBlock">Second Inner Block</div>
	<div class="lowerBlock">Lower Block This is some text that contains in Lower Block</div>
	<div class="anotherLowerBlock">Another Lower Block<br>This info is in Another Inner Block so feel the difference!</div>
</div>	

<div style="position:absolute">
<table class=".card"><tr><td id="hi">Hello</td></tr></table>
<div>
</div>
</body>
</html>