<!DOCTYPE html>
<html>
<head>
	<title>Grid System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/gridSysCss.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12 border header"><h3>Header</h3></div>
		</div>
		<div class="row">
			<div class="col-md-2 border leftcol"><h3>Left Bar</h3></div>
			<div class="col-md-8 border middlecol"><h3>Middle Column</h3></div>
			<div class="col-md-2 border rightcol"><h3>Right Bar</h3></div>
		</div>
	</div>	
</body>
</html>