<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="../js/veryFirstJQ.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/pageCss.css">

	
</head>
<body>
	<h2>Header number two</h2>
	<div id="block" class="notice">Some text is here</div>
	<div id="menu">
		<ul>
			<li><a href="#">Hello</a></li>
		</ul>
	</div>
	<div class="left-bar">
	<button id="btn">Click me!</button><br/>

	<div class="yellowBlock"></div>
	<button id="btn-block">Block btn</button>
	</div>

	<div class="toRight">
	<ul class="menu">
		<li>
			
			<div id="sleepNumberBeds"><a href="#">Sleep Numbers</a></div>
			<ul id="items1">
				<li>Classic Series</li>
				<li>Performance Series</li>
				<li>Innovation Series</li>
			</ul>
			
		</li>
		<li>
			<div id="specialityBeds"><a href="">Speciality Beds</a></div>
			
			<ul id="items2">
				<li>Classic Series</li>
				<li>Performance Series</li>
				<li>Innovation Series</li>
			</ul>
			
		</li>
		<li>
			<div id="pillowsAndBeddings"><a href="">Speciality Beds</a></div>
			
			<ul id="items3">
				<li>Classic Series</li>
				<li>Performance Series</li>
				<li>Innovation Series</li>
			</ul>
			
		</li>
	</ul>
</div>

<ul class="fruitMenu">
	<li>
		<span id="vegetableTitle">Vegetables</span>
		<ul id="vegetableList">
			<li>Potatoe</li>
			<li>Tomato</li>
			<li>Cucumber</li>
		</ul>
	</li>
	<li>
		<span id="fruitTitle">Fruits</span>
		<ul id="fruitList">
			<li>Apple</li>
			<li>Banana</li>
			<li>Orange</li>
		</ul>
	</li>
	<li>
		<span id="milkTitle">Milk Products</span>
		<ul id="milkList">
			<li>Milk</li>
			<li>Cheese</li>
			<li>Coffee</li>
		</ul>
	</li>
</ul>
</body>
</html>