<!DOCTYPE html>
<html>
<head>
	<title>Tab page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="../js/tabPage.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/tabPage.css">
</head>
<body>
	<div id="iTab" class="infoTab">Info</div>
	<div id="pTab" class="picTab">Pics</div><br>
	<div id="iBlock" class="infoBlock">Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...</div>
	<div id="pBlock" class="picBlock">Porem ipsum....</div>

	<!-- <span>Span</span>
	<div class="afterSpan">Div</div> -->
</body>
</html>