<!DOCTYPE html>
<html>
<head>
	<title>Oksana's test</title>
	<script type="text/javascript" src="../js/oks.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/testCss.css">
</head>
<body>
 Hello Oksik!
 <ol type="I">
 	<li>Ananas</li>
 	<li>Oksana</li>
 	<li>Banana</li>
 	<li>Antona</li>
 </ol>

 	<table border="1">
 		<tr>
 			<td colspan="4" style="text-align:center">Test Table</td>
 		</tr>
 		<tr>
 			<td colspan="2"></td>
 			<td rowspan="3"></td>
 			<td></td>
 		</tr>
 		<tr>
 			<td rowspan="2"></td>
 			<td></td>
 			<td></td>
 			
 		</tr>
 		<tr>
 			<td></td>
 			<td></td>
 			
 			
 		</tr>
 	</table>

<select>
	<option>dasdda</option>
	<option>dasdad</option>
</select>
</body>
</html>